{% extends "learning_logs/base.html" %}

{% block content %}
    <p>Add a new Topic : </p>
    <form method="POST" action="{% url 'learning_logs:new_topic' %}">
        {% csrf_token %}
        {{ form.as_p }}
        <input name="submit" type="submit">
    </form>
{% endblock content %}