{% extends "learning_logs/base.html" %}
{% load bootstrap3 %}
{% block content %}
    {% if form.errors %}
        <p>username and password didnt match try again...</p>
    {% endif %}

    <form method="POST" action="{% url 'users:login'  %}" class="form">
        {% csrf_token %}
        {% bootstrap_form form %}
        {% buttons %}
        <button name="submit" class="btn btn-primary">Login</button>
        {% endbuttons %}
        <input type="hidden" name="next" value="{% url 'learning_logs:index' %}" />
    </form>
{% endblock content %}
    